<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Super Admin Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="~/fonts/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Content/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("dashboard", "Home")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SUPER ADMIN </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                @*<a class="nav-link" href="index.html">

                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>*@
                <a class="nav-link" href="@Url.Action("dashboard", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>DASHBOARD</span>
                </a>

            </li>



            @*<li class="nav-item">

            <a class="nav-link" href="@Url.Action("addannouncement", "Home")">
                <i class="fas fa-fw fa-table"></i>
                <span>ANNOUNCEMENT</span>
            </a>
        </li>*@
            <li class="nav-item">

                <a class="nav-link" href="@Url.Action("viewAnnouncment", "Home")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>VIEW ANNOUNCEMENT</span>
                </a>
            </li>



            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseA" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-newspaper"></i>
                    <span>ARTICLE</span>
                </a>
                <div id="collapseA" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="@Url.Action("addarticle", "Home")">ADD</a>
                        <a class="collapse-item" href="@Url.Action("articletyped", "Home")">ARTICLE TYPE</a>
                        <a class="collapse-item" href="@Url.Action("viewarticel", "Home")">View</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseT" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-blog"></i>
                    <span>BLOG</span>
                </a>
                <div id="collapseT" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="@Url.Action("addblog", "Home")">ADD</a>
                        <a class="collapse-item" href="@Url.Action("blogtype", "Home")">BLOG TYPE</a>
                        <a class="collapse-item" href="@Url.Action("viewBlog", "Home")">View</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFi" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-child"></i>
                    <span>KIDS STORY</span>
                </a>
                <div id="collapseFi" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("kidstore", "Home")">ADD STORY</a>
                        <a class="collapse-item" href="@Url.Action("kidStoryType", "Home")">STORY TYPE</a>
                        <a class="collapse-item" href="@Url.Action("viewKidStory", "Home")">View</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFass" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>TECHNICAL TIPS</span>
                </a>
                <div id="collapseFass" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("TechnicalTips", "Home")">ADD </a>
                        <a class="collapse-item" href="@Url.Action("viewTechnicalTips", "Home")">VIEW</a>

                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseF" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>KID TALENT</span>
                </a>
                <div id="collapseF" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("kidTalent", "Home")">ADD </a>
                        <a class="collapse-item" href="@Url.Action("viewKidTalent", "Home")">VIEW</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                    <i class="fa fa-calendar"></i>
                    <span>EVENT</span>
                </a>
                <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="@Url.Action("events", "Home")">ADD</a>
                        <a class="collapse-item" href="@Url.Action("viewsevent", "Home")">VIEW</a>

                    </div>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-school"></i>
                    <span>SCHOOL</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="@Url.Action("addschool", "Home")">ADD</a>
                        <a class="collapse-item" href="@Url.Action("viewschool", "Home")">VIEW</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-file-alt"></i>
                    <span>QUIZ CONTEXT</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("addquizcontext", "Home")">ADD</a>
                        <a class="collapse-item" href="@Url.Action("viewquizcontext", "Home")">VIEW</a>
                    </div>
                </div>
            </li>

            @*<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTHREE" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>SUPPORT Client FORM</span>
            </a>
            <div id="collapseTHREE" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="@Url.Action("addsupportform", "Home")">ADD</a>
                    <a class="collapse-item" href="@Url.Action("viewsupportformclient", "Home")">VIEW</a>
                    <a class="collapse-item" href="@Url.Action("detailsupportformClient", "Home")">DETAIL FORM</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTHREEE" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>SUPPORT School FORM</span>
            </a>
            <div id="collapseTHREEE" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="@Url.Action("addsupportform", "Home")">ADD</a>
                    <a class="collapse-item" href="@Url.Action("viewsupportformSchool", "Home")">VIEW</a>
                    <a class="collapse-item" href="@Url.Action("detailsupportformSchool", "Home")">DETAIL FORM</a>
                </div>
            </div>
        </li>*@

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <span>APPROVAL</span>
                </a>
                <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">


                        <a class="collapse-item" href="@Url.Action("clientapproval", "Home")">CLIENT APPROVAL</a>
                        <a class="collapse-item" href="@Url.Action("schoolapprovalarticle", "Home")">SCHOOL APPROVAL</a>
                        <a class="collapse-item" href="@Url.Action("courseapproval", "Home")">COURSE APPROVAL</a>
                        <a class="collapse-item" href="@Url.Action("Clientapprovalarticle", "Home")">CL ARTICLE APPROVAL</a>
                    </div>
                </div>
            </li>




            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-file-alt"></i>
                    <span>TEST</span>
                </a>
                <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("addtest", "Home")">ADD</a>
                        <a class="collapse-item" href="@Url.Action("viewtest", "Home")">VIEW</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseB" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-file-alt"></i>
                    <span>BUSINESSS OFFER</span>
                </a>
                <div id="collapseB" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("addbusinessOffer", "Home")">ADD</a>
                        <a class="collapse-item" href="@Url.Action("businessOffertyped", "Home")">TYPE</a>
                        <a class="collapse-item" href="@Url.Action("viewbusinessOffer", "Home")">VIEW</a>
                    </div>
                </div>
            </li>


            

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFas" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>COURSE</span>
                </a>
                <div id="collapseFas" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("course", "Home")">ADD </a>
                        <a class="collapse-item" href="@Url.Action("viewCourse", "Home")">VIEW</a>

                    </div>
                </div>
            </li>






            @*<li class="nav-item">

            <a class="nav-link" href="@Url.Action("certificateissue", "Home")">
                <i class="fas fa-fw fa-table"></i>
                <span>CERTIFICATE ISSUE</span>
            </a>
        </li>*@
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFiiiii" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-child"></i>
                    <span>COLLABORATION</span>
                </a>
                <div id="collapseFiiiii" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("collaboration", "Home")">Add</a>
                        <a class="collapse-item" href="@Url.Action("viewcollaboration", "Home")">View</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">

                <a class="nav-link" href="@Url.Action("virewComplain", "Home")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>SCHOOL COMPLAIN</span>
                </a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="@Url.Action("virewClientComplain", "Home")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>CLIENT COMPLAIN</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFii" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-child"></i>
                    <span>ADD DEPARTMENTS</span>
                </a>
                <div id="collapseFii" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("addDeartment", "Home")">TEAM</a>
                        <a class="collapse-item" href="@Url.Action("addDeartmentboard", "Home")">ADVISORY BOARD</a>

                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFiii" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-child"></i>
                    <span>TEAM</span>
                </a>
                <div id="collapseFiii" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("addTeam", "Home")">Add</a>
                        <a class="collapse-item" href="@Url.Action("viewTeam", "Home")">View</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTT" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-child"></i>
                    <span>ADVISORY BOARD</span>
                </a>
                <div id="collapseTT" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("advisoryBoard", "Home")">Add</a>
                        <a class="collapse-item" href="@Url.Action("viewadvisoryBoard", "Home")">View</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">

                <a class="nav-link" href="@Url.Action("virewClientFeedback", "Home")">
                    <i class="fas fa-comments"></i>
                    <span>CLIENT FEEDBACK</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFiiii" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-child"></i>
                    <span>WEBSITE ADDS</span>
                </a>
                <div id="collapseFiiii" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("addWebAdd", "Home")">Add</a>
                        <a class="collapse-item" href="@Url.Action("viewWebAdd", "Home")">View</a>

                    </div>
                </div>
            </li>








            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    @*<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>*@

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        @*Nav Item - Search Dropdown (Visible Only XS)
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                             Dropdown - Messages
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                         Nav Item - Alerts
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                 Counter - Alerts
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                             Dropdown - Alerts
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                         Nav Item - Messages
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                 Counter - Messages
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                             Dropdown - Messages
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>*@

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Session["name"]</span>
                                <img class="img-profile rounded-circle" src="~/Content/img/user.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("Profile", "Home")">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout","Home",new { area = "" })">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>


                <div>
                    @RenderBody()
                </div>
            </div><
        </div>
    </div>

    <!-- End of Topbar -->
    <!-- Content Row -->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/jquery/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Scripts/jquery/Chart.min.js"></script>

    <!-- Page level custom scripts -->

    <script src="~/Scripts/jquery/chart-area-demo.js"></script>
    <script src="~/Scripts/jquery/chart-pie-demo.js"></script>

    <!-- page date time picker-->


    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script src="~/Content/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/datatables/dataTables.bootstrap4.min.js"></script>


    <script src="~/Content/datatables/demo/datatables-demo.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $('.bs-example-navbar-collapse-1 li').removeClass('active');
            //highlight submenue item
            $('li a[href="' + this.location.pathname + '"]').parent().add().addClass('active');
            //highlight parent menue item
            $('ul a[href="' + this.location.pathname + '"]').parents('li').addClass('active')
        });
    </script>



</body>


</html>
