<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.konnectplugins.com/edu-course/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:09 GMT -->
<head>

</head>

<!-- Body -->
<body>
    <!-- Registrations page-->
    <section class="section-bottom-border login-signup">
        <div class="container">
            <div class="row">
                <div class="login-main template-form">
                    <h4>Article Form </h4>
                    <div class="template-space"></div>

                    <form>
                        <div class="form-group">
                            @Html.Label("Type")
                            @Html.TextBox("type", null, new { @class = "form-control   ", @placeholder = "Enter HeadLine" })

                        </div>
                        <div class="form-group">
                            @Html.Label("HeadLine")
                            @Html.TextBox("headline", null, new { @class = "form-control   ", @placeholder = "Enter HeadLine" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Vedio")
                            <input type="file" name="ImageFile" required />

                        </div>

                        <div class="form-group">
                            @Html.Label("Short Description")

                            @Html.TextBox("shortdiscription", null, new { @class = "form-control   ", @placeholder = "Enter Short Description" })
                        </div>
                        <div class="form-group">
                            @Html.Label("long Description")

                            @Html.TextArea("longdiscription", null, new { @class = "form-control   ", @placeholder = "Enter long Description" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Datetime")

                            @Html.TextBox("datetime", "", new { @class = "form-control datepicker ", @placeholder = "Date Time" })
                        </div>

                        <button type="submit" class="btn btn btn-success"> ADD </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>

<!-- Mirrored from www.konnectplugins.com/edu-course/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Mar 2020 15:49:09 GMT -->
</html>

