@model IEnumerable<edu_course.Models.ResultModel>



    <table style="width:100%" class="table table-condensed">
        <thead>
            <tr>
                <td>Question</td>
                <td>Answer</td>
                <td>Answer By USer</td>
                <td>Status</td>
            </tr>
        </thead>


        @foreach(var item in Model)
        {
           
                <tr>
                    <td>
                        @item.QuestionName
                    </td>
                    <td>
                        @item.Answer
                    </td>
                    <td>
                        @item.AnswerbyUser
                    </td>
                    <td>
                        @if (item.Status == "Correct")
                        {
                            <label style="color:green">@item.Status</label>
                        }
                        else
                        {
                            <label style="color:red">@item.Status</label>
                        }
                    </td>
                </tr>
        }



    </table>
