@model edu_course.Models.tbl_eventValidation
@{
    Layout = "~/Areas/Superadmin/Views/Shared/_Layout.cshtml";

}

<!-- Registrations page-->
<div ng-controller="headerCtrl">
    <div class="container" style="background-color:white ; width:80% ">
        <h2 style="color:black; text-align:center"><b>EVENT</b></h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-body">
                    <section>
                        <div class="row">
                            <div class="col-md-10 offset-md-1">

                                @using (Html.BeginForm("events", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Title", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control input-sm", @type = "text", placeholder = @Html.DisplayName("Enter Event Title") } })
                                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Image", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(model => model.UserImageFIle, new { @accept = "image/png,image/jpg,image/jpeg", type = "file", @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.UserImageFIle, "", new { @class = "text-danger" })




                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Vanue", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Event_Venue, new { htmlAttributes = new { @class = "form-control input-sm", @type = "text", placeholder = @Html.DisplayName("Enter Event Venue") } })
                                            @Html.ValidationMessageFor(model => model.Event_Venue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Vedio URL", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Event_VenueVideo, new { htmlAttributes = new { @class = "form-control input-sm", @type = "text", placeholder = @Html.DisplayName("Enter Vedio URL") } })
                                            @Html.ValidationMessageFor(model => model.Event_VenueVideo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Start Timing", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Event_Start_Time, "{HH:mm tt}", new { htmlAttributes = new { @class = "form-control input-sm", @type = "time", id = "txtStartTime" } })
                                            @Html.ValidationMessageFor(model => model.Event_Start_Time, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("End Timing", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.Event_End_Time, "{HH:mm tt}", new { htmlAttributes = new { @class = "form-control input-sm", @type = "time", id = "txtEndTime" } })
                                            @Html.ValidationMessageFor(model => model.Event_End_Time, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(model => model.Event_Description, 10, 40, htmlAttributes: new { @class = "form-control input-sm", style = "width: 100%; max-width: 100%;", placeholder = @Html.DisplayName("Enter Event Description") })
                                            @Html.ValidationMessageFor(model => model.Event_Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.Label("Start Date", htmlAttributes: new { @class = "control-label col-md-4" }),
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Event_Start_Date, "{MM/DD/YYYY}", new { @class = "form-control input-sm", type = "text", id = "StartDate" })
                                            @Html.ValidationMessageFor(m => m.Event_Start_Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("End Date", htmlAttributes: new { @class = "control-label col-md-4" }),
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Event_End_Date, "{MM/DD/YYYY}", new { @class = "form-control input-sm", type = "text", id = "EndDate" })
                                            @Html.ValidationMessageFor(m => m.Event_End_Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn btn-success"> Apply </button>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>
    $(function () {
        $("#StartDate, #EndDate").datepicker();
        $("#EndDate").change(function () {
            var startDate = document.getElementById("StartDate").value;
            var endDate = document.getElementById("EndDate").value;

            if ((Date.parse(endDate) <= Date.parse(startDate))) {
                alert("End date should be greater than Start date");
                document.getElementById("EndDate").value = "";
            }
        });
    });
</script>
<script>
    $(function () {
        $("#txtEndTime").change(function () {
            var strStartTime = document.getElementById("txtStartTime").value;
            var strEndTime = document.getElementById("txtEndTime").value;

            var startTime = new Date().setHours(GetHours(strStartTime), GetMinutes(strStartTime), 0);
            var endTime = new Date(startTime)
            endTime = endTime.setHours(GetHours(strEndTime), GetMinutes(strEndTime), 0);
            if (startTime >= endTime) {
                alert("End Time should be greater than Start time");
                document.getElementById("txtEndTime").value = ""
            }
            //if (startTime == endTime) {
            //    alert("Start Time equals end time");
            //}
            //if (startTime < endTime) {
            //    alert("Start Time is less than end time");
            //}
        });

        function GetHours(d) {
            var h = parseInt(d.split(':')[0]);
            if (d.split(':')[1].split(' ')[1] == "PM") {
                h = h + 12;
            }
            return h;
        }
        function GetMinutes(d) {
            return parseInt(d.split(':')[1].split(' ')[0]);
        }
    });
</script>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}