@model IEnumerable<edu_course.Models.tbl_ArticleValidation>
<!DOCTYPE html>
<html lang="en">

<head>
    @{
        ViewBag.Title = "";
    }

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <input type="hidden" id="hiddenSchoolId" />

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete</h3>
                    <button type="button" class="close " data-dismiss="modal">&times;</button>

                </div>


                <div class="modal-body">
                    <h4>Are You sure? you want to delete this</h4>
                    @*<div style="text-align:center; display:none" id="loaderDiv">


                        </div>*@




                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteSchool()">Conform</a>
                </div>


            </div>
        </div>

    </div>








    <div id="wrapper">


        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">BUSINESS OFFER</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Image</th>
                                    <th>Long Description</th>
                                    <th>Date</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            @*<tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Image</th>
                                        <th>Address</th>
                                        <th>Email</th>
                                        <th>Contact No</th>
                                    </tr>
                                </tfoot>*@
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.ArticleId">
                                        <td>
                                            @item.Title
                                        </td>

                                        <td> <img src="@Url.Content(item.imgPath)" width="150" height="150" /></td>

                                        <td>
                                            @Html.Raw(@item.longDes)
                                        </td>

                                        <td>
                                            @item.CreatedDate
                                        </td>

                                        <td>
                                            @*<button class="button button3" style="background-color: #5DC560; border-color:#5DC560; border-radius:5%;">@Html.ActionLink("Student Complain Reply", "virewComplainReply", new { id = item.complain_Id }, new { Style = "color:White; text-decoration:none;" })</button>*@
                                            <a href="#" class="btn btn-danger" onclick="ConformDelete(@item.ArticleId)">Delete</a>
                                            <a href="@Url.Action("updatebusinessOffer",new {id = item.ArticleId,item.Title })" class="btn btn-success">Edit</a>

                                        </td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>

    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    </div>

    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>*
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>


    $(document).ready(function () {

    })

    var updatemodal = function (article) {
        $("#myMod").modal('show');
    }


    var ConformDelete = function (ArticleId) {

        debugger
        $("#hiddenSchoolId").val(ArticleId);
        $("#myModal").modal('show');

    }

    var DeleteSchool = function () {

        var empId = $("#hiddenSchoolId").val();
        debugger
        $.ajax({

            type: 'POST',

            url: '@Url.Action("DeletebusinessOffer", "Home", new { Area = "Superadmin" })',
            data: { articleId: empId },
            success: function (resul) {
                $("#myModal").modal('hide');
                $("#row_" + empId).remove();


            }
        })
    }

</script>



