@model IEnumerable<edu_course.Models.Event>
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        ViewBag.Title = "viewsevent";
    }


</head>
<body id="page-top">

    <input type="hidden" id="hiddenSchoolId" />

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete School</h3>
                    <button type="button" class="close " data-dismiss="modal">&times;</button>

                </div>


                <div class="modal-body">
                    <h4>Are You sure? you want to delete this</h4>
                    @*<div style="text-align:center; display:none" id="loaderDiv">


                        </div>*@




                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteSchool()">Conform</a>
                </div>


            </div>
        </div>

    </div>





    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Event</h6>
                    @*<button type="button" class="btn btn-primary">PDF</button>*@
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Venue</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Video</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @*<tfoot>
                                    <tr>
                                        <th>Title</th>
                                        <th>Venue</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>Video</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th></th>
                                    </tr>
                                </tfoot>*@
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.EventId">
                                        <td>
                                            @Html.DisplayFor(modelitem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.Event_Venue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.Event_Description)
                                        </td>
                                        <td>
                                            <img src="@Url.Content(item.Event_VenueImage)" width="150" height="150" />
                                        </td>

                                        <td>
                                            <iframe width="530" height="400" src="@item.Event_VenueVideo" frameborder="0" allowfullscreen></iframe>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.Event_Start_Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.Event_End_Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.Event_Start_Time)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.Event_End_Time)
                                        </td>

                                        <td>
                                            @*@Html.ActionLink("Edit", "", new { id = item.EventId }) |*@
                                            <a href="#" class="btn btn-danger" onclick="ConformDelete(@item.EventId)">Delete</a>
                                            @*@Html.ActionLink("Add", "events", new { id = item.EventId })*@
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2019</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>


    $(document).ready(function () {

    })




    var ConformDelete = function (EventId) {

        $("#hiddenSchoolId").val(EventId);
        $("#myModal").modal('show');

    }

    var DeleteSchool = function () {

        var empId = $("#hiddenSchoolId").val();
        debugger
        $.ajax({

            type: 'POST',

            url: '@Url.Action("DeleteEvent","Home", new { Area = "Superadmin" })',
            data: { eventId: empId },
            success: function (resul) {
                $("#myModal").modal('hide');
                $("#row_" + empId).remove();


            }
        })
    }

</script>



