@model edu_course.Models.tbl_ClassValidation
@{
    ViewBag.Title = "Add Class";
    Layout = "~/Areas/Principle/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<!-- Registrations page-->
<div ng-controller="headerCtrl">
    <div class="container" style="background-color:white ; width:80% ">
        <h2 style="color:black; text-align:center"><b>Class Form</b></h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-body">
                    <section>
                        <div class="row">
                            <div class="col-md-10 offset-md-1">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>




                                    @*<div class="form-group">
                                            @Html.Label("Class Code")
                                            @Html.EditorFor(model => model.Code   , new { htmlAttributes = new { @class = "form-control input-sm", @type = "text", placeholder = @Html.DisplayName("Enter Class Code") } })
                                            @Html.ValidationMessageFor(model => model.Code , "", new { @class = "text-danger" })

                                        </div>*@

                                    <div class="form-group">
                                        @Html.Label("Name")
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-sm", @type = "text", placeholder = @Html.DisplayName("Enter Class Name") } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group ">
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn btn-success"> Apply </button>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>

    $(function () {

        $(".datepicker").datepicker({

            dateFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            yearRange: "1990:2020",
        });
    });

</script>



@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}