@model edu_course.Models.Teacher


@{
    Layout = "~/Areas/Principle/Views/Shared/_Layout.cshtml";
}


<!-- Registrations page-->
<div ng-controller="headerCtrl">
    <div class="container" style="background-color:white ; width:80% ">
        <h2 style="color:black; text-align:center"><b>ADD TEACHER </b></h2>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-body">
                    <section>
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                @using (Html.BeginForm("updateTeacher", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-horizontal">



                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = @Html.DisplayName("Enter Teacher Name") } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                    </div>
                                    @*<div class="form-group">
                                        @Html.Label("Image", htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBoxFor(model => model.UserImageFIle, new { @class = "form-control input-sm", @accept = "image/png,image/jpg,image/jpeg", type = "file" })
                                        @Html.ValidationMessageFor(model => model.UserImageFIle, "", new { @class = "text-danger" })
                                    </div>*@
                                    <div class="form-group">
                                        @Html.Label("Class", htmlAttributes: new { @class = "control-label col-md-4" })


                                        @Html.DropDownListFor(model => model.Class_Id, (SelectList)ViewBag.school, "Select Class", new { required = "required", @class = "form-control", @id = "ddCourseId" })

                                        @Html.ValidationMessageFor(x => Model.Class_Id, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">

                                        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control  input-sm ", placeholder = Html.DisplayName("Enter Email ") } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Contact", htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = @Html.DisplayName("Enter Contact No") } })
                                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextAreaFor(model => model.Address, 6, 40, htmlAttributes: new { style = "width: 100%; max-width: 100%;", placeholder = @Html.DisplayName("Enter Address") })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                    </div>
                                    @*<div class="form-group">
                                        @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = @Html.DisplayName("Enter Password") } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                    </div>*@




                                    <div class="form-group ">
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn btn-success"> Update </button>
                                        </div>
                                    </div>


                                }

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">

         window.onload = function () {
          alert("@ViewBag.Message");
          };
    </script>

}



